@font-face {
    font-family: 'Loew';
    src: url('../fonts/LoewBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Loew';
    src: url('../fonts/LoewMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Loew';
    src: url('../fonts/LoewRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Loew';
    src: url('../fonts/LoewLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}