:root {
    --theme-text-color: #64656a;
    --theme-background-color: #4b4b4d;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 150%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100vw;
    cursor: default;
    font-family: "Loew", sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding-top: 75px;

    &.p0 {
        padding-top: 0;
    }

}

button {
    outline: none;
    padding: 0;
    background: transparent;
    border: none;
}

.containersect {
    padding-right: 75px;
    padding-left: 75px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.gnrbtn {
    height: 38px;
    width: 190px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #64656a;
    border: 1px solid #64656a;
    font-family: 'Loew';
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;

    &:hover {
        background: #64656a;
        color: #fff;
    }
}

.greybtn {
    height: 38px;
    width: 190px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #64656a;
    background: #64656a;
    font-family: 'Loew';
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;

    &:hover {
        background: #fff;
        color: #64656a;
    }
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

p {
    letter-spacing: .5px;
}

.smcontainer {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 25px;
}

@media(max-width:991.8px) {
    .smcontainer {
        padding: 0;
    }
}

.hoverline {
    position: relative;

    &::after {
        background-color: var(--theme-text-color);
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        width: 100%;
    }

    &:hover {
        &::after {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

img {
    max-width: 100%;
}

.greybg {
    background: #f1f1f2;
}

