.projectslider {
    .imgwrap {
        height: calc(100vh - 130px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #fff;
        filter: drop-shadow(0 0 20px #000);
    }
}

.projectcontent {
    padding: 80px 0;
    max-width: 910px;
    margin: 0 auto;

    h1 {
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #64656a;
        line-height: 140%;
    }

    .stat {
        list-style-type: none;
        margin: 0 0 20px 0;
        padding: 0;
        text-transform: uppercase;
        color: #64656a;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            font-weight: 500;
        }
    }

    h5 {
        font-size: 18px;
        color: #64656a;
        font-weight: 500;
        margin-bottom: 30px;
    }

    p {
        color: #64656a;
        font-size: 14px;
        margin-bottom: 25px;
    }

    .inspections {
        background: #f1f1f2;
        margin-bottom: 50px;
        padding: 30px;

        .title {
            text-transform: uppercase;
            color: #aaa;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .ddbox {
        .ddlink {
            p {
                text-decoration: underline;
                text-underline-offset: 2px;
                padding-left: 25px;
                position: relative;
                font-size: 12px;
                color: #64656a;
                cursor: pointer;
                margin: 0;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: url('../img/general/listarrow.png') no-repeat center / 14px;
                }
            }

            ul {
                padding-top: 10px;
                margin: 0;
                list-style-type: none;
                padding-left: 25px;
                display: none;

                li {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                    padding-left: 25px;
                    position: relative;
                    font-size: 12px;
                    color: #64656a;
                    cursor: pointer;
                    margin: 0 0 7px 0;
                    display: block;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 16px;
                        position: absolute;
                        left: 0;
                        top: 4px;
                        background: url('../img/general/listarrow.png') no-repeat center / 12px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .inspections__listl {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            text-decoration: underline;
            text-underline-offset: 2px;
            padding-left: 25px;
            position: relative;
            font-size: 12px;
            color: #64656a;
            cursor: pointer;
            margin: 0 0 5px 0;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 2px;
                background: url('../img/general/listarrow.png') no-repeat center / 14px;
            }
        }
    }

}

.mapwrap {
    img {
        width: 100%;
        vertical-align: top;
    }
}

.agents {
    position: relative;
    height: 100%;
    padding-bottom: 50px;

    .gnrbtn {
        max-width: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.agwrap {
    display: flex;
    justify-content: space-between;

    .agbox {
        width: 100%;
        max-width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);

        .imgwrap {
            background-color: #f1f1f2;
            display: block;
            height: 0;
            margin-bottom: 10px;
            padding-bottom: 100%;
            position: relative;
            width: 100%;

            img {
                display: block;
                height: 100%;
                margin: 0;
                object-fit: cover;
                object-position: center;
                position: absolute;
                width: 100%;
            }
        }
    }

    .title {
        text-transform: uppercase;
        color: var(--theme-text-color);
        font-weight: 600;
        margin-bottom: 5px;
    }

    a {
        font-size: 14px;
        color: var(--theme-text-color);
        position: relative;
    }

}

.propenqform {
    margin-top: 50px;
    background: #ededee;
    padding: 60px 75px;

    .title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 60px;
        color: var(--theme-text-color);
        font-weight: 600;
    }

    form {
        max-width: 510px;
        margin: 0 auto;
    }

    .inputfield {
        margin-bottom: 15px;

        input,
        textarea {
            width: 100%;
            border: none;
            height: 50px;
            background: #fff;
            color: #3c3c3c;
            font-family: 'Loew';
            letter-spacing: .57px;
            padding: 0 15px;
            font-size: 15px;
            outline: none;
            border: 1px solid #fff;
            transition: 0.3s;

            &:focus {
                border-bottom: 1px solid #64656a6f;
            }
        }

        textarea {
            height: 200px;
            padding-top: 15px;
            resize: vertical;
        }
    }

    .greybtn {
        width: 100%;
        height: 50px;
        font-size: 15px;
    }
}

.recsoldsection {
    background: #f5f5f6;

    .projectcontent__title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
        color: rgb(100, 101, 106);
    }
}

.recbox {
    position: relative;

    .imgbox {
        background-color: #bfbfbf;
        display: block;
        height: 0;
        padding-bottom: 66%;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            transition: .5s;
            width: 100%;
            transform: scale(1.1);
        }
    }

    .title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;

    }

    .recbox__bott {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            max-width: calc(100% - 150px);
            flex: 0 0 calc(100% - 150px);

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                letter-spacing: .65px;
                text-transform: uppercase;
                font-size: 13px;
                color: var(--theme-text-color);
            }
        }

        p {
            margin: 0;
            width: 100%;
            max-width: 150px;
            flex: 0 0 150px;
            text-align: right;
            font-size: 13px;
            color: #64656A;
            font-weight: 300;
        }
    }

    &:hover {
        .imgbox {
            img {
                transform: scale(1.01);
            }
        }
    }

    .soldpic {
        width: 160px;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 1;
    }
}

.recsoldsection {
    .col-lg-6 {
        margin-bottom: 40px;
    }
}

.projectcontentsect {
    margin-bottom: 50px;
}

@media(max-width:1199.8px) {
    .projectcontent {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width:991.8px) {
    .projectslider .imgwrap {
        height: 600px;
    }

    .projectcontent {
        padding: 50px 15px;
    }

    .project-mainslider {
        .containersect {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .productcontactbox {
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .projectcontent .ddbox .ddlink p,
    .projectcontent .inspections__listl li {
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
    }

    .projectcontent .ddbox .ddlink ul {
        margin-bottom: 20px;
    }

    .mapwrap {
        margin-top: 30px;
    }

    .agents .gnrbtn {
        height: 48px;
    }

    .agwrap {
        margin-bottom: 20px;
    }


    .recsoldsection {
        width: calc(100% + 50px);
        margin-left: -25px;
    }
}

@media(max-width:767.8px) {
    .projectcontent {
        padding-left: 0;
        padding-right: 0;
    }

    .propenqform {
        padding: 40px 30px;
    }

    .recsoldsection {
        padding: 0 25px;
        width: calc(100% + 50px);
        margin-left: -25px;


        .projectcontent {
            padding-top: 30px;
        }
    }
}

@media(max-width:575.8px) {

    
    .projectslider .imgwrap {
        height: 350px;
    }

    .projectcontent h1 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .projectcontent {
        padding: 30px 0;
    }

    .projectcontent .stat {
        margin-bottom: 10px;

        li {
            margin-right: 10px;
            font-size: 14px;
        }
    }

    .projectcontent h5 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .projectcontent p {
        margin-bottom: 10px;
    }

    .projectcontent .inspections {
        padding: 20px;
        margin-bottom: 30px;
    }

    .projectcontent .ddbox .ddlink p,
    .projectcontent .inspections__listl li {
        font-size: 12px;
    }

    .inspections {
        margin-top: 25px;
        width: calc(100% + 50px);
        margin-left: -25px;
    }

    .agwrap .agbox {
        max-width: calc(50% - 5px);
        flex: 0 0 calc(50% - 5px);
    }

    .propenqform {
        padding: 30px 20px;
    }

    .propenqform .title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .propenqform {
        width: calc(100% + 50px);
        margin-left: -25px;
    }

    

}